<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript"
            src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ doc_title }}</title>
</head>
<body onload="prepare_tabs()">

<div id="container">
    <div id="top">
        <div class="logo"> Pinta</div>
        <div class="header_info">
            <span><label>Dependencies for</label><value>{{ filepath }}</value></span>
            <span><label>Nodes</label><value>{{ number_of_nodes }}</value></span>
            <span><label>Edges</label><value>{{ number_of_edges }}</value></span>
            <span><label>Directly Connected</label><value>{{ direct_dependencies_count }}</value></span>
            <span><label>Targets</label><value>{{ affected_targets_count }}</value></span>
            <span style="margin-left: 5px"><a href="/libstats" title="Details stats for all modules" target="_blank">Modules</a></span>
        </div>
    </div>
    <div id="left">
        <div class="wrapper">
            <div class="buttonWrapper">
                <button class="tab-button active"
                        style="border-top-left-radius: 10px;"
                        data-id="direct_connections">Adjacent Nodes
                </button>
                <button class="tab-button" style="border-top-left-radius: 10px;"
                        data-id="targets">Affected targets
                </button>
                <button class="tab-button" style="border-top-left-radius: 10px;"
                        data-id="module_stats">Stats
                </button>
                <hr>
            </div>

            <div class="contentWrapper">
                <div class="content active" id="direct_connections">

                    <table style="width:100%;table-layout: fixed; text-wrap: normal;word-wrap: break-word;">
                        <tr>
                            <th>
                                <img style="position:relative; left:1px; top:2px; background-color:grey;"
                                     src="{{ url_for('static', filename='copy-to-clipboard.png') }}"
                                     alt="Copy to clipboard." width="30"
                                     height="30"
                                     title="Copy to clipboard"
                                     onclick="copy_to_clipboard();"
                                />
                                Adjacent Modules
                            </th>
                        </tr>
                        {% for module, filename in direct_dependencies %}
                        <tr>
                            <td>
                                <a href="{{ filename }}"
                                   style="text-decoration: none;"
                                   title={{ filename }}>
                                    {{ module }}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>

                </div>
                <div class="content" id="targets">
                    <table>
                        <thead>
                        <tr>
                            <th data-type="string">Affected Targets
                                ( {{ affected_targets | length }})
                            </th>
                            <th data-type="number">Total In Connections</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for target in affected_targets %}
                        <tr>
                            <td>{{ target.target_name }}</td>
                            <td class="align_center">{{
                                target.reversed_dependencies_count }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
                <div class="content" id="module_stats">
                    <span>
                        <span class="stats_title">Summarized Stats for the whole graph</span>
                        {% for stat_name, stat_value in graph_stats %}
                            <span class="statistic_name">{{ stat_name }}...</span>
                            <span class="statistic_value">{{ stat_value }}</span>
                            <br>
                        {% endfor %}
                        <span class="statistic_name">All Targets...</span>
                        <span class="statistic_value">{{ all_targets | length }}</span>
                        <br/>
                        <span class="statistic_name">Disconnected Subgraphs...</span>
                        <span class="statistic_value">{{ disconnected_subgraphs | length }}</span>
                        <br/>
                        <span class="stats_title">Disconnected Subgraphs</span>
                        <table style="width:100%;table-layout: fixed; text-wrap: normal;word-wrap: break-word;">
                            <tr>
                                <th>Indicative module</th>
                                <th>Nodes</th>
                            </tr>
                            {% for nodes_count, module in disconnected_subgraphs %}
                                <tr>
                                    <td class="align_center">{{ module }}</td>
                                    <td class="align_center">{{ nodes_count }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <br/>
                        <span class="stats_title">All Targets</span>
                        <table style="width:100%;table-layout: fixed; text-wrap: normal;word-wrap: break-word;">
                            <tr>
                                <th>Target</th>
                                <th>Total In Connections</th>
                            </tr>
                            {% for target in all_targets %}
                                <tr>
                                    <td>{{ target.module_name }}</td>
                                    <td class="align_center">{{ target.reversed_dependencies_count }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                </span>
                </div>
            </div>
        </div>
    </div>

    <div id="right"></div>

    <textarea id="data_to_copy_to_clipboard" name="hide" style="display:none;">{{ data_summary }}</textarea>
</div>


<script type="text/javascript">


    function copy_to_clipboard() {
        var element = document.getElementById("data_to_copy_to_clipboard");
        navigator.clipboard.writeText(element.innerText);
    }

    function prepare_tabs() {
        const tabs = document.querySelector(".wrapper");
        const tabButton = document.querySelectorAll(".tab-button");
        const contents = document.querySelectorAll(".content");
        tabs.onclick = e => {
            const id = e.target.dataset.id;
            if (id) {
                tabButton.forEach(btn => {
                    btn.classList.remove("active");
                });
                e.target.classList.add("active");

                contents.forEach(content => {
                    content.classList.remove("active");
                });
                const element = document.getElementById(id);
                element.classList.add("active");
            }
        }
    }


    var nodes_to_use = JSON.parse('{{ nodes_to_use|safe }}');
    var edges_to_use = JSON.parse('{{ edges_to_use|safe }}');
    var selected_nodes = new vis.DataSet(nodes_to_use);
    var selected_edges = new vis.DataSet(edges_to_use);

    var data = {
        nodes: selected_nodes,
        edges: selected_edges
    };

    var options = {
        layout: {
            improvedLayout: false,
            randomSeed: 10000000
        },
        edges: {
            endPointOffset: {
                from: 0,
                to: 0
            },
            arrowStrikethrough: true,
            chosen: true,
            color: {
                color: '#848484',
                highlight: '#848484',
                hover: '#848484',
                inherit: 'from',
                opacity: 1.0
            },
            dashes: false,
            font: {
                color: '#343434',
                size: 6, // px
                face: 'arial',
                background: 'none',
                strokeWidth: 2, // px
                strokeColor: '#ffffff',
                align: 'horizontal',
                multi: false,
                vadjust: 0,
                bold: {
                    color: '#343434',
                    size: 14, // px
                    face: 'arial',
                    vadjust: 0,
                    mod: 'bold'
                },
                ital: {
                    color: '#343434',
                    size: 14, // px
                    face: 'arial',
                    vadjust: 0,
                    mod: 'italic',
                },
                boldital: {
                    color: '#343434',
                    size: 14, // px
                    face: 'arial',
                    vadjust: 0,
                    mod: 'bold italic'
                },
                mono: {
                    color: '#343434',
                    size: 15, // px
                    face: 'courier new',
                    vadjust: 2,
                    mod: ''
                }
            },
            hidden: false,
            hoverWidth: 1.5,
            label: undefined,
            labelHighlightBold: true,
            length: undefined,
            physics: false,
            scaling: {
                min: 1,
                max: 15,
                label: {
                    enabled: true,
                    min: 14,
                    max: 30,
                    maxVisible: 30,
                    drawThreshold: 5
                },
                customScalingFunction: function (min, max, total, value) {
                    if (max === min) {
                        return 0.5;
                    } else {
                        var scale = 1 / (max - min);
                        return Math.max(0, (value - min) * scale);
                    }
                }
            },
            selectionWidth: 1,
            selfReferenceSize: 20,
            selfReference: {
                size: 20,
                angle: Math.PI / 4,
                renderBehindTheNode: true
            },
            shadow: {
                enabled: false,
                color: 'rgba(0,0,0,0.5)',
                size: 10,
                x: 5,
                y: 5
            },
            smooth: {
                enabled: true,
                type: "dynamic",
                roundness: 0.5
            },
            title: undefined,
            value: undefined,
            width: 1,
            widthConstraint: false
        },
        nodes: {
            borderWidth: 1,
            borderWidthSelected: 2,
            brokenImage: undefined,
            chosen: true,
            color: {
                border: '#2B7CE9',
                background: '#97C2FC',
                highlight: {
                    border: '#2B7CE9',
                    background: '#D2E5FF'
                },
                hover: {
                    border: '#2B7CE9',
                    background: '#D2E5FF'
                }
            },
            opacity: 1,
            fixed: {
                x: false,
                y: false
            },
            font: {
                color: '#343434',
                size: 14, // px
                face: 'arial',
                background: 'none',
                strokeWidth: 0, // px
                strokeColor: '#ffffff',
                align: 'center',
                multi: false,
                vadjust: 0,
                bold: {
                    color: '#343434',
                    size: 14, // px
                    face: 'arial',
                    vadjust: 0,
                    mod: 'bold'
                },
                ital: {
                    color: '#343434',
                    size: 14, // px
                    face: 'arial',
                    vadjust: 0,
                    mod: 'italic',
                },
                boldital: {
                    color: '#343434',
                    size: 14, // px
                    face: 'arial',
                    vadjust: 0,
                    mod: 'bold italic'
                },
                mono: {
                    color: '#343434',
                    size: 15, // px
                    face: 'courier new',
                    vadjust: 2,
                    mod: ''
                }
            },
            group: undefined,
            heightConstraint: false,
            hidden: false,
            icon: {
                face: 'FontAwesome',
                code: undefined,
                weight: undefined,
                size: 20,  //50,
                color: '#2B7CE9'
            },
            image: undefined,
            imagePadding: {
                left: 0,
                top: 0,
                bottom: 0,
                right: 0
            },
            label: undefined,
            labelHighlightBold: true,
            level: undefined,
            mass: 1,
            physics: true,
            scaling: {
                min: 10,
                max: 30,
                label: {
                    enabled: false,
                    min: 14,
                    max: 30,
                    maxVisible: 30,
                    drawThreshold: 5
                },
                customScalingFunction: function (min, max, total, value) {
                    if (max === min) {
                        return 0.5;
                    } else {
                        let scale = 1 / (max - min);
                        return Math.max(0, (value - min) * scale);
                    }
                }
            },
            shadow: {
                enabled: false,
                color: 'rgba(0,0,0,0.5)',
                size: 10,
                x: 5,
                y: 5
            },
            shape: 'dot',
            shapeProperties: {
                borderDashes: false, // only for borders
                borderRadius: 6,     // only for box shape
                interpolation: false,  // only for image and circularImage shapes
                useImageSize: false,  // only for image and circularImage shapes
                useBorderWithImage: false,  // only for image shape
                coordinateOrigin: 'center'  // only for image and circularImage shapes
            },
            size: 5,
            title: undefined,
            value: undefined,
            widthConstraint: false,
            x: undefined,
            y: undefined
        }
    };
    var container = document.getElementById('right');

    if (nodes_to_use.length > 0) {
        var network = new vis.Network(container, data, options);
    } else {
        container.innerText = "No dependencies found.. "
    }

</script>
</body>
</html>