<html>
<head>
    <script type="text/javascript"
            src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js">

    </script>
</head>
<body>
module: {{ filepath }}
<div id="mynetwork"></div>

<script type="text/javascript">
    // create an array with nodes
    var nodes_to_use = JSON.parse('{{ nodes_to_use|safe }}');
    var edges_to_use = JSON.parse('{{ edges_to_use|safe }}');
    var nodes = new vis.DataSet(nodes_to_use);
    var edges = new vis.DataSet(edges_to_use);

    // create a network
    var container = document.getElementById('mynetwork');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };

    var options = {
        layout: {
            improvedLayout: false,
            randomSeed: 10000000
        },
        edges: {
            endPointOffset: {
                from: 0,
                to: 0
            },
            arrowStrikethrough: true,
            chosen: true,
            color: {
                color: '#848484',
                highlight: '#848484',
                hover: '#848484',
                inherit: 'from',
                opacity: 1.0
            },
            dashes: false,
            font: {
                color: '#343434',
                size: 6, // px
                face: 'arial',
                background: 'none',
                strokeWidth: 2, // px
                strokeColor: '#ffffff',
                align: 'horizontal',
                multi: false,
                vadjust: 0,
                bold: {
                    color: '#343434',
                    size: 14, // px
                    face: 'arial',
                    vadjust: 0,
                    mod: 'bold'
                },
                ital: {
                    color: '#343434',
                    size: 14, // px
                    face: 'arial',
                    vadjust: 0,
                    mod: 'italic',
                },
                boldital: {
                    color: '#343434',
                    size: 14, // px
                    face: 'arial',
                    vadjust: 0,
                    mod: 'bold italic'
                },
                mono: {
                    color: '#343434',
                    size: 15, // px
                    face: 'courier new',
                    vadjust: 2,
                    mod: ''
                }
            },
            hidden: false,
            hoverWidth: 1.5,
            label: undefined,
            labelHighlightBold: true,
            length: undefined,
            physics: false,
            scaling: {
                min: 1,
                max: 15,
                label: {
                    enabled: true,
                    min: 14,
                    max: 30,
                    maxVisible: 30,
                    drawThreshold: 5
                },
                customScalingFunction: function (min, max, total, value) {
                    if (max === min) {
                        return 0.5;
                    } else {
                        var scale = 1 / (max - min);
                        return Math.max(0, (value - min) * scale);
                    }
                }
            },
            selectionWidth: 1,
            selfReferenceSize: 20,
            selfReference: {
                size: 20,
                angle: Math.PI / 4,
                renderBehindTheNode: true
            },
            shadow: {
                enabled: false,
                color: 'rgba(0,0,0,0.5)',
                size: 10,
                x: 5,
                y: 5
            },
            smooth: {
                enabled: true,
                type: "dynamic",
                roundness: 0.5
            },
            title: undefined,
            value: undefined,
            width: 1,
            widthConstraint: false
        },
        nodes: {
            borderWidth: 1,
            borderWidthSelected: 2,
            brokenImage: undefined,
            chosen: true,
            color: {
                border: '#2B7CE9',
                background: '#97C2FC',
                highlight: {
                    border: '#2B7CE9',
                    background: '#D2E5FF'
                },
                hover: {
                    border: '#2B7CE9',
                    background: '#D2E5FF'
                }
            },
            opacity: 1,
            fixed: {
                x: false,
                y: false
            },
            font: {
                color: '#343434',
                size: 14, // px
                face: 'arial',
                background: 'none',
                strokeWidth: 0, // px
                strokeColor: '#ffffff',
                align: 'center',
                multi: false,
                vadjust: 0,
                bold: {
                    color: '#343434',
                    size: 14, // px
                    face: 'arial',
                    vadjust: 0,
                    mod: 'bold'
                },
                ital: {
                    color: '#343434',
                    size: 14, // px
                    face: 'arial',
                    vadjust: 0,
                    mod: 'italic',
                },
                boldital: {
                    color: '#343434',
                    size: 14, // px
                    face: 'arial',
                    vadjust: 0,
                    mod: 'bold italic'
                },
                mono: {
                    color: '#343434',
                    size: 15, // px
                    face: 'courier new',
                    vadjust: 2,
                    mod: ''
                }
            },
            group: undefined,
            heightConstraint: false,
            hidden: false,
            icon: {
                face: 'FontAwesome',
                code: undefined,
                weight: undefined,
                size: 20,  //50,
                color: '#2B7CE9'
            },
            image: undefined,
            imagePadding: {
                left: 0,
                top: 0,
                bottom: 0,
                right: 0
            },
            label: undefined,
            labelHighlightBold: true,
            level: undefined,
            mass: 1,
            physics: true,
            scaling: {
                min: 10,
                max: 30,
                label: {
                    enabled: false,
                    min: 14,
                    max: 30,
                    maxVisible: 30,
                    drawThreshold: 5
                },
                customScalingFunction: function (min, max, total, value) {
                    if (max === min) {
                        return 0.5;
                    } else {
                        let scale = 1 / (max - min);
                        return Math.max(0, (value - min) * scale);
                    }
                }
            },
            shadow: {
                enabled: false,
                color: 'rgba(0,0,0,0.5)',
                size: 10,
                x: 5,
                y: 5
            },
            shape: 'dot',
            shapeProperties: {
                borderDashes: false, // only for borders
                borderRadius: 6,     // only for box shape
                interpolation: false,  // only for image and circularImage shapes
                useImageSize: false,  // only for image and circularImage shapes
                useBorderWithImage: false,  // only for image shape
                coordinateOrigin: 'center'  // only for image and circularImage shapes
            },
            size: 5,
            title: undefined,
            value: undefined,
            widthConstraint: false,
            x: undefined,
            y: undefined
        }
    };

    // initialize your network!
    var network = new vis.Network(container, data, options);
</script>
</body>
</html>